/* SPDX-License-Identifier: GPL-2.0-or-later */
/*
 *	Copyright (C) 2019 Frederik Peter Aalund <fpa@sbtinstruments.com>
 */
/dts-v1/;
#include "zynq-green-mango.dtsi"

/ {
	model = "SBT Instruments Zeus";
	compatible = "sbt,green-mango-zeus",
	             "sbt,green-mango",
	             "xlnx,zynq-7000";
};

&amba {
	display: mipi-dbi-type-b@43C10000 {
		compatible = "urt,p220md-t";
		reg = <0x43C10000 0x10000>;
		reg-names = "mipi-dbi-type-b";
		backlight = <&backlight>;
	};
};
