/* SPDX-License-Identifier: GPL-2.0-or-later */
/*
 *	Copyright (C) 2019 Frederik Peter Aalund <fpa@sbtinstruments.com>
 */
/dts-v1/;
#include "zynq-green-mango.dtsi"

/ {
	model = "SBT Instruments BactoBox";
	compatible = "sbt,green-mango-bactobox",
	             "sbt,green-mango",
	             "xlnx,zynq-7000";
};

&amba {
	adc_qspi: axi_quad_spi@41e10000 {
		tia_adc: ltc2145@0 {
			// test-pattern = "all-zero";
			clock-phase-delay = <45>;
			invert-clock;
			output-mode = "ddr-lvds";
		};
	};

	dac_qspi: axi_quad_spi@41e00000 {
		tia_dac: ad9704@0 {
			// deskew-mode;
			diff-clock-input;
		};
	};

	display_gpio: gpio@41210000 {
		#gpio-cells = <3>;
		clock-names = "s_axi_aclk";
		clocks = <&clkc 15>;
		compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
		gpio-controller;
		reg = <0x41210000 0x10000>;
		xlnx,all-inputs = <0x0>;
		xlnx,all-inputs-2 = <0x0>;
		xlnx,all-outputs = <0x0>;
		xlnx,all-outputs-2 = <0x0>;
		xlnx,dout-default = <0x00000000>;
		xlnx,dout-default-2 = <0x00000000>;
		xlnx,gpio-width = <0x2>;
		xlnx,gpio2-width = <0x20>;
		xlnx,interrupt-present = <0x0>;
		xlnx,is-dual = <0x0>;
		xlnx,tri-default = <0xFFFFFFFF>;
		xlnx,tri-default-2 = <0xFFFFFFFF>;
	};

	display_qspi: axi_quad_spi@41e20000 {
		#address-cells = <1>;
		#size-cells = <0>;
		bits-per-word = <8>;
		clock-names = "spi_clk", "axi_clk";
		clocks = <&clkc 15>, <&clkc 15>;
		compatible = "xlnx,axi-quad-spi-3.2", "xlnx,xps-spi-2.00.a";
		fifo-size = <16>;
		interrupt-names = "ip2intc_irpt";
		interrupt-parent = <&intc>;
		interrupts = <0 52 1>;
		num-cs = <0x1>;
		reg = <0x41e20000 0x10000>;
		xlnx,num-ss-bits = <0x1>;
		xlnx,spi-mode = <0>;

		display: 8252md-t@0 {
			compatible = "solomon,ssd2119";
			reg = <0>;
			spi-max-frequency = <50000000>;
			buswidth = <8>;
			dc-gpios = <&display_gpio 0 0 GPIO_ACTIVE_HIGH>;
			reset-gpios = <&display_gpio 1 0 GPIO_ACTIVE_HIGH>;
			rotate = <0>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		measure {
			label = "measure";
			gpios = <&gpio0 57 GPIO_ACTIVE_HIGH>;
			linux,code = <50>; // m
		};
		stop {
			label = "stop";
			gpios = <&gpio0 56 GPIO_ACTIVE_HIGH>;
			linux,code = <1>; // escape
		};
		empty {
			label = "empty";
			gpios = <&gpio0 55 GPIO_ACTIVE_HIGH>;
			linux,code = <18>; // e
		};
		clean {
			label = "clean";
			gpios = <&gpio0 54 GPIO_ACTIVE_HIGH>;
			linux,code = <46>; // c
		};
	};
};
