/* SPDX-License-Identifier: GPL-2.0-or-later */
/*
 *	Copyright (C) 2019 Frederik Peter Aalund <fpa@sbtinstruments.com>
 */
/dts-v1/;
#include <dt-bindings/input/linux-event-codes.h>
#include "zynq-green-mango.dtsi"

/ {
	model = "SBT Instruments Zeus";
	compatible = "sbt,green-mango-zeus",
	             "sbt,green-mango",
	             "xlnx,zynq-7000";
};

&i2c0 {
	battery0: max17205@36 {
		compatible = "maxim,max17205";
		reg = <0x36>;
	};
};

&amba {
	adc_qspi: axi_quad_spi@41e10000 {
		tia_adc: ltc2145@0 {
			clock-phase-delay = <45>;
			invert-clock;
			output-mode = "ddr-lvds";
			// internal-termination;
			// test-pattern = "alternating";
			// power-control = "channel2-nap";
			// alternate-bit-polarity;
		};
	};

	dac_qspi: axi_quad_spi@41e00000 {
		tia_dac: ad9704@0 {
			diff-clock-input;
		};
	};

	display: mipi-dbi-type-b@43C10000 {
		compatible = "urt,p220md-t";
		reg = <0x43C10000 0x10000>;
		reg-names = "mipi-dbi-type-b";
		// Backlight has been removed from this node since the display turns
		// it off during init. We want the splash screen to linger.
		// backlight = <&backlight>;
		// Init is done by u-boot. Additionally, this allows the splash screen
		// to linger until the UI is loaded.
		linux,skip-reset;
		linux,skip-clear;
	};

	gpio-keys {
		compatible = "gpio-keys";
		autorepeat;

		left {
			label = "left";
			gpios = <&gpio0 62 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_BACKSPACE>;
		};
		ok {
			label = "ok";
			gpios = <&gpio0 54 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_ENTER>;
		};
		up {
			label = "up";
			gpios = <&gpio0 55 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_UP>;
		};
		down {
			label = "down";
			gpios = <&gpio0 57 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_DOWN>;
		};
		swab1 {
			label = "swab";
			gpios = <&gpio0 58 GPIO_ACTIVE_LOW>;
			linux,code = <0x0f>;  // SW_PEN_INSERTED
			linux,input-type = <EV_SW>;
		};
	};
};
