/* SPDX-License-Identifier: GPL-2.0-or-later */
/*
 *  Copyright (C) 2019 Frederik Peter Aalund <fpa@sbtinstruments.com>
 *
 *  Based on zynq-zed.dts which is:
 *  Copyright (C) 2011 - 2015 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 */
/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "zynq-7000.dtsi"

/ {
	model = "SBT Instruments Green Mango";
	compatible = "sbt,zynq-green-mango", "xlnx,zynq-7000";

	aliases {
		i2c0 = &i2c0;
		serial0 = &uart1;
		spi0 = &qspi;
		mmc0 = &sdhci1;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&i2c0 {
	pmic0: da9063@58 {
		compatible = "dlg,da9063";
		reg = <0x58>;
		interrupt-parent = <&gpio0>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		wakeup-source;
		onkey {
			compatible = "dlg,da9063-onkey";
		};
		rtc {
			compatible = "dlg,da9063-rtc";
		};
		wdt {
			compatible = "dlg,da9063-watchdog";
		};
	};
	accel0: lis3dh@18 {
		compatible = "st,lis3dh-accel";
		reg = <0x18>;
		st,drdy-int-pin = <1>;
		interrupt-parent = <&gpio0>;
		interrupts = <51 IRQ_TYPE_EDGE_RISING>;
	};
	temp0: tmp102@48 {
		compatible = "ti,tmp102";
		reg = <0x48>;
	};
};

&qspi {
	u-boot,dm-pre-reloc;
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
	flash@0 {
		compatible = "n25q128a11", "jedec,spi-nor";
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@qspi-fsbl-uboot {
			label = "qspi-fsbl-uboot";
			reg = <0x0 0x100000>;
		};
	};
};

&sdhci1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&uart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "otg";
	usb-phy = <&usb_phy0>;
};

&gpio0 {
	emio-gpio-width = <8>;
	gpio-mask-high = <0x0>;
	gpio-mask-low = <0x5600>;
};

&i2c0 {
	status = "okay";
};

&amba {
	stepper_gpio: gpio@41200000 {
		#gpio-cells = <3>;
		clock-names = "s_axi_aclk";
		clocks = <&clkc 15>;
		compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
		gpio-controller ;
		reg = <0x41200000 0x10000>;
		xlnx,all-inputs = <0x0>;
		xlnx,all-inputs-2 = <0x0>;
		xlnx,all-outputs = <0x0>;
		xlnx,all-outputs-2 = <0x0>;
		xlnx,dout-default = <0x00000000>;
		xlnx,dout-default-2 = <0x00000000>;
		xlnx,gpio-width = <0xb>;
		xlnx,gpio2-width = <0x20>;
		xlnx,interrupt-present = <0x0>;
		xlnx,is-dual = <0x0>;
		xlnx,tri-default = <0xFFFFFFFF>;
		xlnx,tri-default-2 = <0xFFFFFFFF>;
	};
	stepper_ref_pwm: timer@42820000 {
		#pwm-cells = <2>;
		clock-frequency = <100000000>;
		clock-names = "s_axi_aclk";
		clocks = <&clkc 15>;
		compatible = "xlnx,pwm-xlnx";
		reg = <0x42820000 0x10000>;
		xlnx,count-width = <0x20>;
		xlnx,gen0-assert = <0x1>;
		xlnx,gen1-assert = <0x1>;
		xlnx,one-timer-only = <0x0>;
		xlnx,trig0-assert = <0x1>;
		xlnx,trig1-assert = <0x1>;
	};
	stepper_step_pwm: timer@42830000 {
		#pwm-cells = <2>;
		clock-frequency = <100000000>;
		clock-names = "s_axi_aclk";
		clocks = <&clkc 15>;
		compatible = "xlnx,pwm-xlnx";
		reg = <0x42830000 0x10000>;
		xlnx,count-width = <0x20>;
		xlnx,gen0-assert = <0x1>;
		xlnx,gen1-assert = <0x1>;
		xlnx,one-timer-only = <0x0>;
		xlnx,trig0-assert = <0x1>;
		xlnx,trig1-assert = <0x1>;
	};

	stepper {
		compatible = "tmc2100";
		cfg-gpios = <&stepper_gpio 0 0 GPIO_ACTIVE_HIGH>,
		            <&stepper_gpio 1 0 GPIO_ACTIVE_HIGH>,
		            <&stepper_gpio 2 0 GPIO_ACTIVE_HIGH>,
		            <&stepper_gpio 3 0 GPIO_ACTIVE_HIGH>,
		            <&stepper_gpio 4 0 GPIO_ACTIVE_HIGH>,
		            <&stepper_gpio 5 0 GPIO_ACTIVE_HIGH>;
		cfg6-enn-gpios = <&stepper_gpio 6 0 GPIO_ACTIVE_LOW>;
		dir-gpios = <&stepper_gpio 7 0 GPIO_ACTIVE_HIGH>;
		index-gpios = <&stepper_gpio 8 0 GPIO_ACTIVE_HIGH>;
		error-gpios = <&stepper_gpio 9 0 GPIO_ACTIVE_HIGH>;
		pwms = <&stepper_ref_pwm 0 10000>, // 100 KHz
		       <&stepper_step_pwm 0 0>;
		pwm-names = "ref", "step";
	};

	/*
	lockamp: lockamp@40600000 {
		compatible = "sbt,lockamp";
		reg = <0x40600000 0x14>,
		      <0x4060001C 0x20>,
		      <0x40600800 0x800>;
		reg-names = "lockamp-control1",
		            "lockamp-control2",
		            "lockamp-fir";
	};
	*/

	/*
	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;
		sw14 {
			label = "sw14";
			gpios = <&axi_gpio_pl33 23 0 0>;
			linux,code = <108>; // down
			autorepeat;
		};
	};
	*/
};
